<script type="text/javascript" src="https://js.live.net/v7.0/OneDrive.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    var odOptions = {
        clientId: "7edbafbd-ec98-44d4-9e2d-9b5229f2e78c",
        action: "share",
        multiSelect: false,
        openInNewWindow: true,
        success: function (response) {

            if ( response && response.value && response.value.length > 0 ) {

                console.log('*********************************************');
                console.log(response.webUrl);

                var file = response.value[0];

                if ( file && file.webUrl ) {

                    var url = file.webUrl;

                    console.log('*********************************************');
                    console.log(url);

                    $.ajax( url,
                        {
                            success: function(status, data) {

                                console.log('*********************************************');
                                console.log(status);
                                console.log('*********************************************');
                                console.log(data);
                                console.log('*********************************************');

                            }
                        }
                    )
                }

            }


        },

        cancel: function() {
            console.log('cancel');
        },

        error: function(e) {
            console.log(e)
        }
    };

    function openOneDrive() {
        OneDrive.open(odOptions);
    }
</script>

<html>
    <body>

        <form>

            <button type="button" id="btnOneDrive" onclick="openOneDrive()">
                <span>One Drive</span>
            </button>
        </form>

        <div id="pickerConsole">

        </div>



    </body>
</html>