<script type="text/javascript" src="https://js.live.net/v7.0/OneDrive.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    var odOptions = {
        clientId: "7edbafbd-ec98-44d4-9e2d-9b5229f2e78c",
        action: "download",
        multiSelect: false,
        openInNewWindow: true,
        success: function (response) {

            if ( response && response.value && response.value.length > 0 ) {

                var file = response.value[0];

                if ( file ) {

                    var address = file['@microsoft.graph.downloadUrl'];
                    var name = file.name;
                    var size = file.size;

                    $.ajax(
                        {
                            url: address,
                            type: 'GET',
                            dataType: 'jsonp',
                            processData: false,
                            crossDomain: true,
                            jsonp: false,
                            success: function (responseData, textStatus, jqXHR) {
                                console.log(responseData);
                                console.log(textStatus);
                                console.log(jqXHR);
                            }

                    })

                }

            }


        },

        cancel: function() {
            console.log('cancel');
        },

        error: function(e) {
            console.log(e)
        }
    };

    function openOneDrive() {
        OneDrive.open(odOptions);
    }
</script>

<html>
    <body>

        <form>

            <button type="button" id="btnOneDrive" onclick="openOneDrive()">
                <span>One Drive</span>
            </button>
        </form>

        <div id="pickerConsole">

        </div>



    </body>
</html>