<script type="text/javascript" src="https://js.live.net/v7.0/OneDrive.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

    var odOptions = {
        clientId: "7edbafbd-ec98-44d4-9e2d-9b5229f2e78c",
        action: "download",
        multiSelect: false,
        openInNewWindow: true,
        success: function (response) {


            if ( response && response.value && response.value.length > 0 ) {

                var file = { url: response.value[0].webUrl, name: response.value[0].name };


                var message = " File : " + file.name + " <br/> ";

                message += " Url : " + file.url + " <br/> ";

                document.getElementById('pickerConsole').innerHTML = "";
                document.getElementById('pickerConsole').innerHTML += message;

                $.ajax( file.url,
                    {
                        'xhrFields' : {
                            'responseType' : 'blob'
                        },
                        'dataType' : 'binary',
                        success: function(result) {
                            console.log(result);
                        }
                    }
                )

            }


        },

        cancel: function() {
            console.log('cancel');
        },

        error: function(e) {
            console.log(e)
        }
    };

    function openOneDrive() {
        OneDrive.open(odOptions);
    }
</script>

<html>
    <body>

        <form>

            <button type="button" id="btnOneDrive" onclick="openOneDrive()">
                <span>One Drive</span>
            </button>
        </form>

        <div id="pickerConsole">

        </div>



    </body>
</html>